<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My(Aka your)Files Me</title>
    <link rel="shortcut icon" type="image/svg" href="static/assets/logo.svg" />
    <style type="text/css">
      #browser-supported-default-state {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
    <div id="browser-supported-default-state" class="browser-not-supported">
      <p>We're sorry, but it looks like our we aren't able to support your browser.</p>
      <p>
        Please upgrade to a more recent version of
        <a target="_blank" rel="noopener noreferrer" href="https://www.microsoft.com/edge/">Microsoft Edge</a>,
        <a target="_blank" rel="noopener noreferrer" href="https://support.apple.com/HT204416">Safari</a>,
        <a target="_blank" rel="noopener noreferrer" href="https://www.mozilla.org/firefox/new/">Firefox</a>, or
        <a target="_blank" rel="noopener noreferrer" href="https://www.google.com/chrome">Chrome</a>.
        This is important so that we can bring you a secure, high-quality experience.
      </p>
    </div>
    <script nomodule>
      document.querySelector('.browser-not-supported').style.display = 'block';
    </script>
  </body>
</html>
